<div class="sending-money-modal-container">
  <header class="section-header">
    <p>Sending money</p>
    <button (click)="closeModal()">X</button>
  </header>

  <div class="sending-money-form-container">
    <form class="sending-money-form">
      <div class="sending-money">
        <div class="iban-amount">
          <input [(ngModel)]="this.receiverIban" [ngModelOptions]="{standalone:true}" *ngIf="!creditPayment" type="text" placeholder="Receiver IBAN">
          <input [(ngModel)]="this.amount" [ngModelOptions]="{standalone:true}" type="number" placeholder="Amount">
        </div>
        <input [(ngModel)]="this.reason" [ngModelOptions]="{standalone:true}" *ngIf="!creditPayment"
               style="margin-top: 40px; width: 820px" type="text" placeholder="Reason">
        <div class="credit-payment-checkbox">
          <input [(ngModel)]="this.creditPayment" [ngModelOptions]="{standalone:true}" type="checkbox">
          <p>Credit payment</p>
        </div>
      </div>
      <div class="card-form" style="margin-top: 30px">
        <div class="card-form-number-and-date">
          <input [(ngModel)]="this.cardNumber" [ngModelOptions]="{standalone:true}" type="text" placeholder="Card number">
          <input [(ngModel)]="this.expiryDate" [ngModelOptions]="{standalone:true}" type="month" placeholder="Expiry date">
        </div>
        <div class="card-form-cvv">
          <input [(ngModel)]="this.cvv" [ngModelOptions]="{standalone:true}"
                 style="margin-top: 10px" type="number" placeholder="CVV">
        </div>
      </div>
    </form>
    <div class="sending-money-form-button">
      <button (click)="sendMoney()" class="classic-button">Send money</button>
      <div class="sending-money-validations">
        <p *ngIf="insufficientFunds" class="mistake"><strong>Insufficient funds</strong></p>
        <p *ngIf="invalidCardInformation" class="mistake"><strong>Invalid card information</strong></p>
      </div>
    </div>
  </div>

</div>
