.allocate-to-safe-modal-container {
  margin-left: 20%;
  margin-top: 7%;
  width: 1200px;
  height: 650px;
  background-color: #FFFFFF;
  opacity: 95%;
}

.section-header {
  width: 100%;
  height: 50px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-header > p{
  font-family: Inconsolata;
  font-size: 22px;
  padding-left: 15px;
}

.section-header > button {
  width: 50px;
  text-decoration: none;
  font-size: 22px;
}

.allocate-to-safe-form-container {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;;
}

.allocate-to-safe-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.allocate-to-safe-form > input {
  border-radius: 2%;
}

.allocate-to-safe-form-button {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  justify-content: space-between;
}

.allocate-to-safe {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.safe-details {
  display: flex;
  flex-direction: column;
}

.safe-details > input {
  width: 350px;
  margin-left: 25%;
  margin-top: 40px;
}

.classic-button {
  margin-left: 32%;
}
