<div class="allocate-to-safe-modal-container">
  <header class="section-header">
    <p>Open safe</p>
    <button (click)="closeModal()">X</button>
  </header>

  <div class="allocate-to-safe-form-container">
    <form class="allocate-to-safe-form">
      <div class="allocate-to-safe">
        <div class="safe-details">
          <input type="text" [(ngModel)]="safeKeygen" [ngModelOptions]="{standalone:true}" placeholder="Safe keygen">
        </div>
      </div>
    </form>
    <div class="allocate-to-safe-form-button">
      <button class="classic-button" (click)="openSafe()">Open safe</button>
      <div class="allocate-to-safe-validations">
        <p class="mistake" id=""><strong>Some validation</strong></p>
      </div>
    </div>
  </div>

</div>
