<div class="allocate-to-safe-modal-container">
  <header class="section-header">
    <p>Create safe</p>
    <button (click)="closeModal()">X</button>
  </header>

  <div class="allocate-to-safe-form-container">
    <div class="allocate-to-safe-form">
      <div class="allocate-to-safe">
        <form class="safe-details">
          <input [(ngModel)]="safeName" [ngModelOptions]="{standalone:true}" type="text" placeholder="Safe name">
          <input [(ngModel)]="safeKeygen" [ngModelOptions]="{standalone:true}" type="text" placeholder="Safe keygen">
        </form>
      </div>
    </div>
    <div class="allocate-to-safe-form-button">
      <button class="classic-button" (click)="createSafe()">Create safe</button>
      <div class="allocate-to-safe-validations">
        <p *ngIf="safeAlreadyExist" class="mistake" id=""><strong>Safe with this name already exist</strong></p>
      </div>
    </div>
  </div>

</div>
