<div class="register-container">
  <div class="register-header">
    <p>Register</p>
  </div>
  <div class="register-form-container">
    <form class="register-form">
      <input type="text" placeholder="Username">
      <input style="margin-top: 10px" type="password" placeholder="Password">
      <input style="margin-top: 10px" type="password" placeholder="Confirm password">
      <input style="margin-top: 10px" type="drop-down" placeholder="Country">
    </form>
    <div class="register-form-button">
      <button class="classic-button">Sign up</button>
      <div class="register-form-validations">
        <p class="mistake" id="user exists"><strong>User already exists</strong></p>
      </div>
    </div>
  </div>
</div>
