.register-container {
  background-color: #FFFFFF;
  opacity: 90%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 550px;
  border-radius: 2%;
}

.register-header {
  width: 100%;
  height: 130px;
}

.register-header > p {
  font-family: Inconsolata;
  font-size: 36px;
  text-align: center;
  padding-top: 1%;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register-form > input {
  border-radius: 2%;
}

.register-form-button {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  justify-content: space-between;
}
