<div class="register-container">
  <div class="register-header">
    <p>Register</p>
  </div>
  <div class="register-form-container">
    <form class="register-form">
      <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone:true}" placeholder="Username">
      <input style="margin-top: 10px" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" placeholder="Password">
      <input style="margin-top: 10px" type="password" [(ngModel)]="cpassword" [ngModelOptions]="{standalone:true}" placeholder="Confirm password">
      <input style="margin-top: 10px" type="drop-down" [(ngModel)]="country" [ngModelOptions]="{standalone:true}" placeholder="Country">
    </form>
    <div class="register-form-button">
      <button class="classic-button" (click)="createNewUser()">Sign up</button>
      <div class="register-form-validations">
        <p *ngIf="userAlreadyExist" class="mistake" id="user exists"><strong>User already exists</strong></p>
      </div>
      <div class="register-form-validations">
        <p *ngIf="passwordAndConfirmPasswordShouldMatch" class="mistake" id="passwords should match"><strong>Password and confirm password should match</strong></p>
      </div>
    </div>
  </div>
</div>
