<div class="allocate-to-safe-modal-container">
  <header class="section-header">
    <p>Allocate to safe</p>
    <button (click)="closeModal()">X</button>
  </header>

  <div class="allocate-to-safe-form-container">
    <form class="allocate-to-safe-form">
      <div class="allocate-to-safe">
        <div class="safe-details">
          <input [(ngModel)]="this.safeName" [ngModelOptions]="{standalone:true}" type="text" placeholder="Safe name">
          <input [(ngModel)]="this.amount" [ngModelOptions]="{standalone:true}" type="number" placeholder="Amount">
        </div>
      </div>
      <div class="card-form" style="margin-top: 30px">
        <div class="card-form-number-and-date">
          <input [(ngModel)]="this.cardNumber" [ngModelOptions]="{standalone:true}" type="text" placeholder="Card number">
          <input [(ngModel)]="this.expiryDate" [ngModelOptions]="{standalone:true}" type="month" placeholder="Expiry date">
        </div>
        <div class="card-form-cvv">
          <input [(ngModel)]="this.cvv" [ngModelOptions]="{standalone:true}" style="margin-top: 10px" type="number" placeholder="CVV">
        </div>
      </div>
    </form>
    <div class="allocate-to-safe-form-button">
      <button class="classic-button" (click)="allocateToSafe()">Allocate</button>
      <div class="allocate-to-safe-validations">
        <p *ngIf="invalidCardInformation" class="mistake"><strong>Invalid card information</strong></p>
        <p *ngIf="insufficientFunds" class="mistake"><strong>Insufficient funds</strong></p>
      </div>
    </div>
  </div>

</div>
