<div class="login-container">
  <div class="login-header">
    <p>Welcome to online banking system</p>
  </div>
  <div class="login-form-container">
    <form class="login-form">
      <input id="username" [(ngModel)]="this.username" type="text" name="username" placeholder="Username">
      <input id="password" [(ngModel)]="this.password" name="password" style="margin-top: 20px" type="password" placeholder="Password">
    </form>
    <div class="login-form-buttons">
      <button class="classic-button" (click)="signIn()">Sign in</button>
      <button class="classic-button">Sign up</button>
    </div>
    <div class="login-form-validations">
      <p class="mistake" id="incorrect username"><strong>Incorrect username or password</strong></p>
    </div>
  </div>
</div>
