<div class="request-credit-modal-container">
  <header class="section-header">
    <p>Credit request</p>
    <button (click)="closeModal()">X</button>
  </header>

  <div class="credit-request-form-container">
    <form class="credit-request-form">
      <div class="credit-size-form">
        <input [(ngModel)]="this.creditSize" [ngModelOptions]="{standalone:true}" type="number" placeholder="Credit size">
        <input [(ngModel)]="this.years" [ngModelOptions]="{standalone:true}" type="number" placeholder="Years">
      </div>
      <div class="card-form" style="margin-top: 30px">
        <form class="card-form-number-and-date">
          <input [(ngModel)]="this.cardNumber" [ngModelOptions]="{standalone:true}" type="text" placeholder="Card number">
          <input [(ngModel)]="this.expiryDate" [ngModelOptions]="{standalone:true}" type="month" placeholder="Expiry date">
        </form>
        <form class="card-form-cvv">
          <input [(ngModel)]="this.cvv" [ngModelOptions]="{standalone:true}" style="margin-top: 10px" type="number" placeholder="CVV">
        </form>
      </div>
    </form>
    <div class="credit-request-form-button">
      <button class="classic-button" (click)="makeRequest()">Request credit</button>
      <div class="credit-request-form-validations">
        <p *ngIf="invalidCardInformation" class="mistake" id="user exists"><strong>Invalid card information</strong></p>
      </div>
    </div>
  </div>

</div>
