<div class="request-credit-modal-container">
  <header class="section-header">
    <p>Credit request</p>
    <button (click)="closeModal()">X</button>
  </header>

  <div class="credit-request-form-container">
    <form class="credit-request-form">
      <div class="credit-size-form">
        <input type="number" placeholder="Credit size">
        <input type="number" placeholder="Years">
      </div>
      <div class="card-form" style="margin-top: 30px">
        <div class="card-form-number-and-date">
          <input type="text" placeholder="Card number">
          <input type="month" placeholder="Expiry date">
        </div>
        <div class="card-form-cvv">
          <input style="margin-top: 10px" type="number" placeholder="CVV">
        </div>
      </div>
    </form>
    <div class="credit-request-form-button">
      <button class="classic-button">Request credit</button>
      <div class="credit-request-form-validations">
        <p class="mistake" id="user exists"><strong>Some validation</strong></p>
      </div>
    </div>
  </div>

</div>
